# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\ideaIU-2019.3.2.win\ideaworkspace\homework\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
